polkit.addRule(function(action, subject) {
    if (action.id == "org.freedesktop.udisks2.filesystem-mount" &&
        subject.user == "e788b1") {
        return "yes";
    }
});

polkit.addRule(function(action, subject) {
    if (action.id == "org.freedesktop.udisks2.filesystem-mount-system" &&
        subject.user == "e788b1") {
        return "yes";
    }
})

polkit.addRule(function(action, subject) {
    if (action.id == "org.freedesktop.udisks2.eject-media" &&
        subject.user == "e788b1") {
        return "yes";
    }
})

polkit.addRule(function(action, subject) {
    if (action.id == "org.freedesktop.udisks2.eject-media-system" &&
        subject.user == "e788b1") {
        return "yes";
    }
})
